@page "/register"

<PageTitle>Sign In</PageTitle>

<div class="main-container">
    <input type="text" name="firstName" placeholder="Enter First Name..." />

    <input type="text" name="lastName" placeholder="Enter Last Name..." />

    <input type="text" autocomplete="off" name="uniqueName" placeholder="Enter Unique Name..." />

    <input type="password" name="password" placeholder="Enter Password..." />

    <input type="email" name="emial" placeholder="Enter Email..." />
</div>

@code {

}
