@page "/register"

<PageTitle>Register</PageTitle>

<head>
    <link rel="stylesheet" href="css/register.css" />
</head>

@if (!isLoaded)
{
    <LoadingScreenComponent />
    return;
}

<div class="register-body">
    <h3>Register</h3>

    <div class="main-container">
        <input class="default-input" type="text" name="firstName" placeholder="Enter First Name..." />

        <input class="default-input" type="text" name="lastName" placeholder="Enter Last Name..." />

        <input class="default-input" type="text" autocomplete="off" name="uniqueName" placeholder="Enter Unique Name..." />

        <input class="default-input" type="password" name="password" placeholder="Enter Password..." />

        <input class="default-input" type="email" name="emial" placeholder="Enter Email..." />
    </div>
</div>


@code {
    bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        isLoaded = true;
    }
}
