@page "/signin"

<PageTitle>Sign In</PageTitle>

<head>
    <link rel="stylesheet" href="css/signin.css" />
</head>

@if (!isLoaded)
{
    // Will replace with loading control
    <div>Loading...</div>
    return;
}

<div class="parent-container">
    <div class="header">
        <h3>Sign In</h3>
    </div>

    <div class="main-container">
        <div class="child-container">
            <div class="input-container">
                <label>Email</label>
                <input class="default-input" type="email" name="emial" placeholder="Enter Email..." />
            </div>

            <div class="input-container">
                <label>Password</label>
                <input class="default-input" type="password" name="password" placeholder="Enter Password..." />
            </div>
            
            <div>
                <a href="/register">Register</a>
            </div>
        </div>
    </div>

</div>


@code {
    bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        isLoaded = true;
    }
}