@page "/signin"

@inject NavigationManager NavigationManager

<h3>SignIn</h3>

<div style="height: 300px; background: red;">
    <p>Noice</p>
    <button @onclick="SendToRegiserPage">Click me</button>
</div>

@code {
    private void SendToRegiserPage()
    {
        NavigationManager.NavigateTo("/register");
    }
}
