.parent-chat-container {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    justify-content: flex-start;
    height: 100vh;
}

.chat-container {
    height: 100%;
    position: relative;
    padding: 5px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 65px;
    overflow-y: scroll;
}

.text-container {
    background-color: #dddddd;
    resize: none;
    overflow: hidden;
    width: 100%;
    padding: 10px 5px 10px 10px;
    outline: none;
    border: none;
    line-height: 20px;
}

.text-container-area {
    display: flex;
    flex-direction: row;
    bottom: 0px;
    position: sticky;
}

.text-container-area button {
    width: 80px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: #3a9f2e;
    color: white;
}

.text-container-area button:hover {
    background-color: #eeeeee;
    color: #3a9f2e;
    border: 1px solid #3a9f2e;
}

.host-message-container,
.recipientUser-message-container {
    width: 100%;
    display: flex;
}

.host-message-container {
    justify-content: flex-end;
}

.recipientUser-message-container {
    justify-content: flex-start
}

.host-div,
.recipientUser-div {
    display: flex;
    padding: 5px 5px 0px 10px;
    flex-direction: column;
    max-width: 50%;
    border-radius: 5px;
    gap: 5px;
}

.recipientUser-div {
    background-color: #115abf;
}

.host-div {
    background-color: #06917a;
}

.date-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1px 0px 0px 0px;
}

.date-container h4 {
    font-size: 8px;
    color: #cfcfcf9b;
    margin-bottom: 3px;
}

.chat-container p {
    color: white;
    margin-bottom: 0rem !important;
    margin-right: 1.1rem !important;
}