<PageTitle>Loading...</PageTitle>

<head>
    <link rel="stylesheet" href="css/controlsStyles/loadingScreen.css" />
</head>

<div class="loading-body">
    <div class="spinner"></div>
    <p>Loading</p>
</div>
