@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Chatroom</PageTitle>

<AuthorizeView>

    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    @*TODO: will need to add this in navmenut when screen smaller*@
                    <NavLink class="nav-link pointer" href="contacts">
                        <span class="oi oi-people" aria-hidden="true"></span> Contacts
                    </NavLink>
                    <NavLink class="nav-link pointer" href="profile">
                        <span class="oi oi-person" aria-hidden="true"></span> Profile
                    </NavLink>
                    <NavLink class="nav-link pointer" @onclick="LogOut">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>

                <article class="">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>

    <NotAuthorized>
        @{
            if (NavigationManager.Uri.EndsWith("/register"))
            {
                <Register></Register>
            }
            else
            {
                <SignIn></SignIn>
            }
        }
    </NotAuthorized>

</AuthorizeView>

@code {
    private async void LogOut()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;

        await customAuthStateProvider.UpdateAuthenticationState(null);
    }
}